/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
Makefile
Makefile.in
/missing
/stamp-h
/stamp-h1
/compile
ffmpeg
cinelerra-cvs-current.spec
*.data
*.[oa]
*~
*.lo
*.la
.deps
.libs
list.*
po/remove-potcdate.sed
po/stamp-po
