config.err
config.h
config.mak
libavcodec-uninstalled.pc
libavcodec.pc
libavdevice-uninstalled.pc
libavdevice.pc
libavformat-uninstalled.pc
libavformat.pc
libavutil-uninstalled.pc
libavutil.pc
libswscale-uninstalled.pc
libswscale.pc
*.d
*.so
*.so.*
