[Desktop Entry]
Name=Cinelerra-CVE
Comment=Video Editor
Categories=Application;AudioVideo;Multimedia;
Encoding=UTF-8
Exec=cinelerracve
Icon=cinelerracve.png
Terminal=false
Type=Application
